@font-face {
    font-family: 'code128';
    src: url(../../fonts/code128.ttf);
}

.imp-txt {
    background-image: linear-gradient(to bottom, #581F59 20%, #5A7195 100%);
    margin: auto;
    padding: 20px 35px;
    border-radius: 17px;
    color: #ffffff;
    font-size: larger;
    text-align: center;
}

.brazalete {
    width: 60%
}

.brazalete-head {
    background: radial-gradient(circle at 0% 100%, transparent 15px, #490e47 17px, #490e47 50%, transparent 90%), radial-gradient(circle at 100% 100%, transparent 15px, #490e47 17px, #490e47 50%, transparent 90%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 20px 10px;
}

.brazalete-body {
    background: radial-gradient(circle at 0% 0%, transparent 15px, #ffffff 17px, #ffffff 50%, transparent 90%), radial-gradient(circle at 100% 0%, transparent 15px, #ffffff 17px, #ffffff 50%, transparent 90%);
    display: flex;
    flex-direction: column;
    padding: 25px 20px 0px;
}

.brazalete-body2 {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 0px 20px 18px;
}

.fecha {
    font-size: x-large;
}

.f-title {
    margin: 0px 8px;
    font-size: x-small;
    font-weight: bold;
}

.boleta-bottom {
    /*height: 40px;*/
    width: 90%;
    margin: auto;
    margin-top: 10px;
    background-color: #5A90AB;
    color: #000000;
    border-radius: 10px;
    font-size: small;
}

.btn-continuar {
    height: 50px;
    width: 68%;
    float: right;
    margin-right: 7em;
    color: #ffffff;
    border: none;
    border-radius: 7px;
}

.my-modal {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 26%;
}

.modal-dialog {
    margin: 0;
    width: 100%;
}

.modal-content {
    position: fixed;
    top: 24%;
    margin-top: 0%;
    border: none;
    padding: 0px;
    align-items: center;
    background: none;
    width: 100%;
    transform: translate(0%, 20%);
}

.modal-cnt-spv {
    position: absolute;
    border-radius: 18px;
    padding: 20px 90px;
    border: solid;
    border-color: #7d297a;
    border-width: thick;
    margin-left: 50%;
    background: #ffffff;
}

.img-modal {
    height: 200px;
}

.btn-modal {
    bottom: 75px;
    height: 50px;
    width: 150px;
    color: #ffffff;
    margin-top: 2rem;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #552f4b 0%, #9b1889 100%);
}

.mdl-title{
    font-weight: bold;
    margin-top: 3rem;
}
