@model CorParques.Negocio.Entidades.Recoleccion

@{
    ViewBag.Title = "Recolección Supervisor";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listTaquillero = (IEnumerable<CorParques.Negocio.Entidades.TipoGeneral>)ViewBag.taquilleros;
}
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="x_content">
    <div class="form-group">
        <div class="row">
            <div class="item col-md-5 col-sm-5 col-xs-12">
                <select id="ddlTaquillero" onchange="OnChangeEvent(this);" class="form-control required setSelect2">
                    <option value="">Seleccione el taquillero</option>
                    @if (listTaquillero != null && listTaquillero.Count() > 0)
                    {
                        foreach (var item in listTaquillero)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    @if (Model != null)
    {

        <div id="listView">
            @Html.Partial("_Wizard", Model)
        </div>

    }
</div>

@section scripts{
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Scripts/RecoleccionSupervisor.js"></script>
    <script src="~/Scripts/jquery.smartWizard.js"></script>
}