@model CorParques.Negocio.Entidades.Recoleccion

<div class="x_content" id="div_Taquillero">
    <div class="item form-group">
        <label class="control-label col-md-2 col-sm-3 col-xs-12" for="tipoconvenio">
            Taquillero <span>*</span>
        </label>
        <div class="col-md-4 col-sm-6 col-xs-12">
            @Html.DropDownListFor(model => model.IdUsuarioCreacion, new SelectList(ViewBag.Taquilleros, "Id", "Nombre"), "Seleccione...", new { @class = "form-control required setSelect2" })
        </div>
        <div class="col-md-12">
            <br />
        </div>
        <div id="ContenidoWizard">
            @Html.Partial("_Wizard", Model)
        </div>
    </div>
</div>
