body {
}
a {
    cursor: pointer;
}

.select2-selection__clear {
    margin-right: 25px;
    margin-top: 4px;
}
.EstiloPreparacion {
    border: 3px solid #F2B33D !important;
    margin: 4px;
}
.EstiloPedidoAtrasado {
    border: 3px solid #FF0000 !important;
    margin: 4px;
}
.intermitente {
  
    padding: 20px 20px;
    box-shadow: 0px 0px 20px;
    animation: infinite resplandorAnimation 2s;
    color: red;
}

@keyframes resplandorAnimation {
    0%,100% {
        box-shadow: 0px 0px 30px;
        
    }

    50% {
        box-shadow: 0px 0px 0px;
       
    }
}

.CodBrazalete{
    padding-top: 13px;
    padding-bottom: 11px;
}
.CodBrazalete input{
    border-radius: 4px !important;
}

.top_tiles {
    margin-bottom: 0
}
.top_tiles .tile h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 3px 0 7px;
    font-weight: bold
}

.MenuTiposProducto {
    position: relative;
    width: 105%;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    transition: all 300ms ease-in-out;
    height: 80px;
}

.MenuTiposProducto .icon {
    width: 10px;
    height: 10px;
    color: #BAB8B8;
    position: absolute;
    /*right: 49px;*/
    top: 23px;
    z-index: 1;
}

.MenuTiposProducto .icon i {
    margin: 0;
    font-size: 50px;
    line-height: 0;
    vertical-align: bottom;
    padding: 0
}
.MenuTiposProducto .count {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857
}
.MenuTiposProducto .count,
.MenuTiposProducto h3,
.MenuTiposProducto h4,
.MenuTiposProducto p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    left: 49px;
    z-index: 5;
    padding: 0
}
.MenuTiposProducto h3, .MenuTiposProducto h4 {
    color:  #BAB8B8 
}
.MenuTiposProducto p {
    margin-top: 5px;
    font-size: 12px
}
.MenuTiposProducto>.dash-box-footer {
    position: relative;
    text-align: center;
    margin-top: 5px;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}
.MenuTiposProducto>.dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}
.MenuTiposProducto>.dash-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}


/*V2 EDSP 04/09/2017*/

.MenuTipo {
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 14px;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    white-space: normal !important;
    word-wrap: break-word;

}

    .MenuTipo> .fa,
    .MenuTipo > .glyphicon,
    .MenuTipo > .ion {
        font-size: 35px;
        display: block;
        margin: 3px;
    }

    .MenuTipo:hover {
        background: #f4f4f4;
        color: #444;
        border-color: #aaa;
    }

    .MenuTipoactive,
    .MenuTipo:focus {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    .MenuTipo > .badge {
        position: absolute;
        top: -3px;
        right: -10px;
        font-size: 10px;
        font-weight: 400;
    }

    .MenuTipo .lblMenu{
            overflow: hidden;
    word-wrap: break-word;
    }



/*FIN EDSP 04/09/2017*/


.ProductoGrilla {
    cursor: pointer;
    Background-color: white;
    /*margin: 4px;*/
    padding: 15px;
    /*border: 1px solid #ccc!important;*/
    border-radius: 5px;
    height:230px;
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid #ccc!important;
    outline: 6px solid whitesmoke;
}

.ProductoGrilla label{
    cursor: pointer !important;
}

.ProductoGrilla:hover {
    border: 1px solid #ddd !important;
}
.ProductoGrillaMesas {
    cursor: pointer;
    Background-color: white;
    /*margin: 4px;*/
    padding: 15px;
    /*border: 1px solid #ccc!important;*/
    border-radius: 5px;
    height: 230px;
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid #ccc !important;
    outline: 6px solid whitesmoke;
}

    .ProductoGrillaMesas label {
        cursor: pointer !important;
    }

    .ProductoGrillaMesas:hover {
        border: 1px solid #ddd !important;
    }


.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.thumbnail:hover {
    border: 1px solid #ddd;
}

.x_panel{
    height : 100% !important;
}

.tipoProducto{
    padding: 15px !important;
}

/*#Boleteria .x_panel{
    border: 30px;
}*/

#Boleteria{
    background-color: #f5f5f5;
    height: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

#total h1  {
    font-weight: bold !important;
    font-size: 38px !important;
}

#dvProductos{
    overflow-y: scroll;
    max-height: 450px;
}
.IconosPos{
    display: inline-block !important;
    font-size: 18px;
    padding-right: 5px;
}