
@{
    ViewBag.Title = "gjghj";

    Layout = "~/Views/Shared/_LayoutKiosco.cshtml";

}

<div class="col-md-12 p-0">
    <img src="./Images/Ikaro app.jpg" alt="Imagen-fondo" class="w-100 p-0" style="object-fit: fill;">

     <a href="@Url.Action("IngresoCodigo", "Kioscos")" class="boton">
        
            Continuar
        
    </a>

</div>