@model CorParques.Negocio.Entidades.ConsultaCodigodeBarras


<div class="form-group">
    <div style="text-align:left;">
        <div class="x_content h4 txtContador" id="div_AccesosDia"></div>
    </div>
    <div style="text-align:center;">
        <label class="x_content h3">Acerque la boleta al lector de código de barras</label>
        <input type="text" id="txt_CodigoBarras" placeholder="Acerque la boleta al lector de código de barras" autofocus maxlength="20" style="width:0px; height:0px; border:0px; background-color:transparent; top:10000px" />
    </div>
    <div style="position:absolute; right:0; width:150px; top:0;">
        <img src="#" id="snapshot" style="display:none; width:150px;"></img>
    </div>
    @*<input type="hidden" id="hdf_ValidacionOperativaPunto" value="@ViewBag.ValidacionOperativa" />*@
    <input type="hidden" id="hdf_ValidacionOperativaPunto" value="@Model.MensajeAcceso" />
    <input type="hidden" id="hdf_NumeroAccesosDia" value="@Model.NumeroAccesosDia" />

    <div class="row">
        <div class="col-centered">
            <div id="div_NoAcceso" style="display: none; text-align:center">
                <img src="~/Images/RedCircle.png" style="max-height:300px" />
            </div>
            <div id="div_Acceso" style="display: none; text-align:center">
                <img src="~/Images/GreenCircle.png" style="max-height:300px" />
            </div>

            <div id="div_Mensaje" style="display:none; text-align:center;" class="x_content h2"></div>

        </div>
    </div>
</div>

