@model  IEnumerable<CorParques.Negocio.Entidades.UsuarioVisitante>
@{
    ViewBag.Title = "Cortesía";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet" />

<h2>Gestión de cortesías</h2>
<br />
<div id="Usuario Visitante">
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            
                <div class="pull-left">
                    <input type="button" id="btnRegistrarVisitante" class="btn btn-success" value="Registrar Ejecutivo Corpaques " onclick="BotonCrearUsuario(5)" />
                </div>
            </div>
        </div>
        <div id="listView">
            @Html.Partial("_List", Model)
        </div>
    </div>

</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable-responsive22').DataTable({
                "columnDefs": [{ "targets": 4, "type": "date-eu" }]
            });
            $('#datatable-responsive22').on('draw.dt', function () {
                setEventEdit()
            });
        });
    </script>

    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Vendors/jQuery-Mask-Plugin-master/dist/jquery.mask.min.js"></script>
    <script src="~/Vendors/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/Scripts/Cortesia.js"></script>
    <script src="~/Scripts/General.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.12.1/sorting/date-eu.js"></script>
}

