@{
    Layout = "~/Views/Shared/_Error.cshtml";
    ViewBag.Titulo = "Error 403";

}

<h1 class="error-number">403</h1>
<h2>Ups! Acceso denegado</h2>
<p>
    Se requiere autenticación completa para acceder a este recurso.
</p>
