@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Error.cshtml";
    ViewBag.Titulo = "Error 500";
}

<h1 class="error-number">500</h1>
<h2>Ups! Error de servidor interno</h2>
<p>
    Seguimos estos errores automáticamente, pero si el problema persiste no dude en contactar con nosotros. Mientras tanto, trate de refrescar.<br />
</p>

