@{
    Layout = "~/Views/Shared/_Error.cshtml";
    ViewBag.Titulo = "Error General";

}

<h1 class="error-number"></h1>
<h2>Ups! Error interno</h2>
<p>
    Seguimos estos errores automáticamente, pero si el problema persiste no dude en contactar con nosotros. Mientras tanto, trate de refrescar.
</p>


