@model IEnumerable<CorParques.Negocio.Entidades.ExclusionConvenio>

<form id="frmExclusion">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label>Fecha Inicio</label>
            <input type="text" id="strFechaInicio" class="form-control required calendarioMinimoHoy rangoFechas" maxlength='12' data-valor="FechaInicial" data-comparar="strFechaFin" data-mensaje="Fecha inicio debe ser menor o igual que fecha fin." />
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label>Fecha Fin</label>
            <input type="text" id="strFechaFin" class="form-control required calendarioMinimoHoy rangoFechas" maxlength=12 data-valor="FechaFinal" data-comparar="strFechaInicio" data-mensaje="Fecha fin debe ser mayor o igual que fecha inicio." />
        </div>
        <div class="col-md-2 col-md-2 col-xs-12" style="font-size: 19px; text-align: center; position: relative;transform: translateY(80%);">
            <label></label>
            <a id="btnAdicionar" href="javascript:void(0)"><i class="glyphicon glyphicon-plus-sign"></i></a> | <a id="btnCancelarExclusion" href="javascript:void(0)"><i class="fa fa-eraser"></i></a>
        </div>
    </div>
    
    <br />
    @*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
            <input type="button" class="right btn btn-success" value="Adicionar" id="btnAdicionar" />
            <input type="button" class="right btn btn-danger" value="Limpiar" id="btnCancelarExclusion" />
        </div>
    </div>*@
    <br />
</form>

<div class="col-md-12 col-md-12 col-xs-12" id="tblConvenios">

@if (Model != null && Model.Count() > 0)
{
        <table class='table table-striped jambo_table' width='100%'>
            <thead>
                <tr>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FechaInicio.ToString("dd/MM/yyyy")</td>
                        <td>@item.FechaFin.ToString("dd/MM/yyyy")</td>
                        <td><a href='javascript:void(0)' onclick='eliminarExclusion(@item.Id)'><i class='fa fa-trash' style="font-size: 18px;"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
}
</div>


<script>
    loadCalendar();
    setEventExclusion();
    idConvenio =@ViewBag.IdConvenio;
</script>

