<form id="frmLogin">
     <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
             <label class="control-label">* Contraseña</label>
         </div>
     </div>   
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="password" class="form-control required" placeholder="Contraseña" id="txtPassword" autofocus />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <label class="control-label">Observaciones</label>
        </div>
    </div>  
    <div class="row">      
        <div class="col-md-12 col-sm-12 col-xs-12">
            <textarea rows="5" cols="40" class="form-control" placeholder="Observaciones" id="txtObservaciones" maxlength="500"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="button" class="btn btn-success" value="Aceptar" id="btnAceptarLogin" />
            <input type="button" class="btn btn-danger" value="Cancelar" id="btnCancelarLogin" />
        </div>
    </div>
</form>

<script>

    $('#modalCRUD').on('keypress', function (e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            //$(this).trigger('submit');
        }
    });

    $("#btnAceptarLogin").click(function () {
        if (validarFormulario("frmLogin")) {
            Login($("#txtPassword").val(), $("#txtObservaciones").val());
        }
    });

    $("#btnCancelarLogin").click(function () {
        CancelarLogin();
    });

    $("input[type=password], input[type=text]").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if (validarFormulario("frmLogin")) {
                Login($("#txtPassword").val(), $("#txtObservaciones").val());
            }
        }

    });

    $('textarea').keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            document.getElementById("txtObservaciones").value = document.getElementById("txtObservaciones").value + "\n*";
            return false;
        } {
            return true;
        }
    });
</script>
