@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'BalooBhai2';
    src: url(../../fonts/BalooBhai2-ExtraBold.ttf);
}

body {
    font-family: 'BalooBhai2';
    font-family: 'Ubuntu';
}

#header {
    height: 17%;
}

#logo {
    background-color: #480f46;
    text-align: center;
}

#banner {
    background-color: #7d297a;
}

#mensaje {
    background-color: #000000;
    height: 7%;
}

#contenido {
    height: 76%;
    margin: 0px;
    position: relative;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.col {
    padding: 0px;
}

.logo {
    height: 95%;
    padding-top: 10%;
}

.banner {
    height: 100%;
    width: 100%
}

.msj {
    color: #ffffff;
    transform: translate(0, 65%);
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
}

.backButton {
    background-color: #6195C6;
    border: none;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    margin: 5px 0px 0px 5px;
    padding: 8px;
}

.bckTriangulo {
    width: 0;
    height: 0;
    border-right: 14px solid #ffffff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.bckBtn-text {
    margin: 0px 5px;
    color: #000000;
    font-weight: bolder;
    font-size: smaller;
}

.imagen {
    position: fixed;
    bottom: 10px;
    right: 2%;
    height: 7%;
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.76);
    display: block;
}

body {
    background: url(../../Images/Kioscos/BG-ui.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal-bg {
    background: #000000;
    background-image: linear-gradient(to bottom, #000000 10%, transparent 80%), url('../../Images/Kioscos/BG-ui.png');
    background-size: cover;
}

