@model CorParques.Negocio.Entidades.Producto



<form>
    <div class="form-horizontal form-label-left">
        <div class="item form-group col-md-5 col-sm-5 col-xs-12">
            <label class="control-label col-md-10 col-sm-10 col-xs-12" for="Nombre">
                @Model.Nombre
            </label>
            <div class="col-md-10 col-sm-10 col-xs-12">
               @Html.HiddenFor(model => model.IdProducto)
            </div>
        </div>
        <div class="item form-group col-md-12 col-sm-12 ">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nombre">
                Descripción <span>*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.TextAreaFor(model => model.Descricpion, new { @class = "form-control col-md-7 col-xs-12 required",  maxlength = 4000 })
            </div>
        </div>

        <div class="item form-group col-md-12 col-sm-12 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                Restaurante Arazá
            </label>
            <div class="col-md-2 col-sm-2 col-xs-12 checkbox check-box chk">
                @*@Html.CheckBox("chbx", new { @class = "required" })*@
                <label style="font-size: 1.5em">
                    <input type="checkbox" value="" id="chbx" class="js-switch">
                    @Html.CheckBoxFor(model => model.Araza, new { @class = "js-switch" })

                </label>
            </div>
        </div>
    </div>
  
</form>

