@model CorParques.Negocio.Entidades.RegistroTorniquete

<form id="frmTorniquete">
    
    <div class="form-group">
        <div class="row">
            @Html.HiddenFor(m => m.IdRegistroTorniquete)
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Número inicial *</label>
                @Html.TextBoxFor(m => m.Inicio, new { @class = "form-control required rango numerico", maxlength = 10, @data_valor = "min", @data_comparar = "Fin", data_mensaje = "El número inicial debe ser menor que el número final" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label>Número final *</label>
                @Html.TextBoxFor(m => m.Fin, new { @class = "form-control required rango numerico", maxlength = 10, @data_valor = "max", @data_comparar = "Inicio", data_mensaje = "El número final debe ser mayor que el número inicial" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="right btn btn-success" value="Guardar" id="btnAceptar" />
            </div>
        </div>
    </div>

</form>