@model int
<form>
    <div class="form-horizontal form-label-left">
        @Html.Hidden("idProducto", Model)
        <div class="row">
            <div class="item form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="Nombre">
                    Plantilla brazalete
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="file" id="idArchivo"  accept=".txt"  />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="item form-group col-md-12 col-sm-12 col-xs-12">
                <div class="item form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="Nombre">
                       Observación
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea id="observacionArchivo" maxlength="200" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>