@model CorParques.Negocio.Entidades.Convenio
@{
    ViewBag.Title = "Actualizar precios";
    ViewBag.SubTitle = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="frmActualizarPrecios">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label>Todos</label>
            <input type="checkbox" id="chxTodos" />

        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="ddlTipoProductoPrecio">Tipo producto</label>
            <select id="ddlTipoProductoPrecio" class="form-control required">
                <option value=""> Seleccione...</option>
                @if (Model != null && Model.ListaTipoProducto != null)
            {
                foreach (var item in Model.ListaTipoProducto)
                {
                        <option value="@item.CodSAP">@item.Nombre</option>
                    }
                }
            </select>

        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <label for="ddlProducto">Producto</label>
            <select id="ddlProducto" class="form-control">
                <option value=""> Seleccione...</option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="button" class="right btn btn-success" value="Actualizar" id="btnAceptarActualizar" />
            <input type="button" class="right btn btn-danger" value="Cancelar" id="btnCancelarActualizar" />
        </div>
    </div>
</form>


@section scripts{ 
    
    <script src="~/Scripts/Convenio.js"></script>
}

<script>
        var Productos = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ListaProducto));
</script>

