@model IEnumerable<CorParques.Negocio.Entidades.TipoGeneral>

<form id="frmLogin">  
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <select id="ddlSupervisor" class="form-control required">
               <option value="">* Supervisor </option>
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="password" class="form-control required" placeholder="* Contraseña" id="txtPassword" />
            <div id="Mensaje"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="button" class="btn btn-success" value="Aceptar" id="btnAceptarLogin" /> 
            <input type="button" class="btn btn-danger" value="Cancelar" id="btnCancelarLogin" />
        </div>
    </div>
    
</form>
<script>

   
    $('#modalCRUD').on('keypress', function (e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            //$(this).trigger('submit');
        }
    });


    $("input[type=password], input[type=text]").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if (validarFormulario("frmLogin")) {
                EjecutarAjax(urlBase + "Cuenta/ValidarPassword", "GET", {
                    idUsuario: $("#ddlSupervisor").val(), password: $.trim($("#txtPassword").val())
                }, "respuestaLogin", null);
            }
        }
    });

    $("#btnAceptarLogin").click(function () {
        if (validarFormulario("frmLogin")) {
            
            EjecutarAjax(urlBase + "Cuenta/ValidarPassword", "GET", {
                idUsuario: $("#ddlSupervisor").val(), password: $.trim($("#txtPassword").val())
            }, "respuestaLogin", null);
        }
    });
    function respuestaLogin(data) {
        if (data.Correcto) {
            ObtenerIdSupervisor($("#ddlSupervisor").val(), $("#ddlSupervisor").find("option:selected").text());
            cerrarModal("modalCRUD");

        } else {
            $("#Mensaje").html("<br /><p class='label label-danger' style='display: inline; font-size: 10px;'>Contraseña incorrecta !</p>")
        }
    }


    $("#btnCancelarLogin").click(function () {
        //window.location = urlBase + "Home/Index";
        CancelarLogin();
    });
</script>

