@font-face {
    font-family: 'BalooBhai2';
    src: url(../../fonts/BalooBhai2-ExtraBold.ttf);
}

body {
    font-family: 'BalooBhai2';
    background: url('../../Images/Kioscos/bg-intro.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titulo {
    position: absolute;
    text-align: center;
    top: 10%;
    font-size: 5rem;
    color: #ffffff;
    line-height: 5rem;
    text-shadow: 0.25rem 0.25rem #34439f;
}
