
@{
    ViewBag.Title = "Historico boletería";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" class="form-control" placeholder="Código de barras" maxlength="20"  id="codBarra"/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="vwDetalleBoleta">
        @Html.Partial("_DetalleHistorico", new CorParques.Negocio.Entidades.DetalleBoleta())
    </div>
</div>
<br />




@section scripts{
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Scripts/HistoricoBoleteria.js"></script>
}


