@model IEnumerable<CorParques.Negocio.Entidades.CierreElementos>

@{
    ViewBag.Title = "Cierre de Elementos";
    //ViewBag.Subtitle = "Alistamiento de cierre de punto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

        <div class="x_content">
            @*<a href="javascript:void(0)" id="lnkAdd"><b style="font-size:xx-large" class="fa fa-plus-square"></b></a>*@
            <div id="listView">
                @Html.Partial("_DetalleElementos", Model)
            </div>
        </div>

        <br />
        <div class="row " style="text-align:right">
            <div class="item col-md-12 col-sm-12 col-xs-12">
                <input type="button" class="right btn btn-success" value="Guardar" id="btnSave" />
                <input type="button" class="right btn btn-danger" value="Cancelar" id="btnCancelar" />
            </div>
        </div>

@section scripts{
<script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="~/Scripts/General.js"></script>
<script src="~/Scripts/CierrePunto.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery-ui.min.autComp.js"></script>
<script>
@if (ViewBag.IsApertura != null)
{
    if (!(bool)ViewBag.isApertura)
    {
        @Html.Raw("MostrarMensajeRedireccion('Importante', 'No tiene elementos asignados para alistar el cierre.', 'Home/Index', 'warning');");

    }
}
</script>
}