@model IEnumerable<CorParques.Negocio.Entidades.ReimpresionReciboCajaV>

@{
    ViewBag.Title = "Reimpresion Recibo Caja V";
}

<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


@section scripts{
    <script type="text/javascript" src="~/Scripts/ReimpresionReciboCajaV.js"></script>
    @*<script src="~/Scripts/bootstrap-datetimepicker.js"></script>*@
    @* DataTable *@
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
}


<div>
    <div class="container">
        <div class="item col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Fecha inicial buscar
            </label>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date" id="datetimepickerIni">
                    <input class="form-control fecha required" value="" id="fechaI" type="text" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="item form-group col-md-6 col-sm-6 col-xs-12">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Fecha final buscar
            </label>
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date" id="datetimepickerFin">
                    <input class="form-control fecha required" value="" id="fechaF" type="text" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 " style="text-align:right;">
            <input type="button" value="Buscar" class="btn btn-success" id="enviar" />
        </div>
        <br />
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12" id="listDato">
            @Html.Partial("View", Model)
        </div>
    </div>
</div>

