@model List<CorParques.Negocio.Entidades.Producto>
<form>
    <div class="form-horizontal form-label-left">
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Producto">
                Producto <span>*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control required setSelect2" name="Id">
                    <option value="">Seleccione...</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.IdProducto">@item.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Puntos">
                Puntos <span>*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control col-md-7 col-xs-12 required" name="CodSAP" id="Puntos" onkeypress="return EsNumero(this);" maxlength="5" value="" />
            </div>
        </div>        
    </div>
</form>
<script>
    asignarSelect2();
</script>
