@model CorParques.Negocio.Entidades.ControlParqueadero

<div class="table-responsive">
    <table id="tabletipovehiculos" class="table jambo_table">
        <tr class="headings">
            <th>
                Tipo Vehiculo
            </th>
            <th>
                Disponible
            </th>
        </tr>
        <tbody id="bodyTipoVehiculos">
            @foreach (var item in Model.TiposVehiculoDisponible)
            {
                <tr class="elementAsLink" id="@Html.DisplayFor(modelItem => item.IdTipoVehiculo)">
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoVehiculo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>