@model CorParques.Negocio.Entidades.Boleteria

@{
    ViewBag.Title = "Reagendamiento | Tienda web - App movil";
}

@if (ViewBag.Alert != null)
{
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">
            &times;
        </button>
        <strong>Aviso!</strong> @ViewBag.Alert
    </div>
}

@section scripts{
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript" src="~/Scripts/Reagendamiento.js"></script>

    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1");
        google.setOnLoadCallback(function () { }
    </script>

}


<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<link type="text/css" href="~/Content/FactConfig.css" />

<style>
    input:invalid {
        border: 2px dashed red;
    }
</style>


<div class="row" style="margin-top:20px">

    <div class="col-sm-3">
        <label class="control-label col-md-1 col-sm-1 col-xs-12">
            Factura
        </label>
        <p>.</p>
        <div>
            <input class="form-control required" type="text" id="CodigoFactura" placeholder="Digíte el código de la factura..." maxlength="13" />
        </div>
    </div>
    <div class="col-sm-3">
        <p>.</p>
        <button id="BtnBuscarFactura" class="btn btn-primary btnDefault">Buscar</button>
    </div>


    <div class="col-sm-3">
        <label class="control-label col-md-1 col-sm-1 col-xs-12">
            Pasaporte|Consecutivo
        </label>
        <p>.</p>
        <div>
            <input class="form-control required" type="number" id="Consecutivo" placeholder="Digíte el número de consecutivo..." />
        </div>
    </div>
    <div class="col-sm-3">
        <p>.</p>
        <button id="BtnBuscarBoletas" class="btn btn-primary btnDefault">Buscar</button>
    </div>
    <br />
</div>

<div>
    <div id="listView">
        @Html.Partial("_check", Model)
        @Html.Partial("_CheckFactura", new List<CorParques.Negocio.Entidades.ObtenerFacturaReagendamiento>())
    </div>
</div>




